html {
    background-color: #F0F4F8;
}

body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    margin: 0;
}

header {
    background-color: #03899C;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

footer {
    background-color: #03899C;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
    color: #FFFFFF;
}

.contacts_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts_section h2 {
    margin-bottom: 10px;
    color: #F3FD00;
}

h1, h2 {
    color: #015965;
    text-align: center;
}

.login_container {
    background-color: #1F6B75;
    flex-basis: 15%;
    min-width: 150px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login_button {
    background-color: #36BBCE;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.login_button:hover {
    background-color: #5FC0CE;
}

.movies_lists_container {
    background-color: #1F6B75;
    margin-top: 15px;
    padding: 20px;
    border-radius: 8px;
}

.movies_lists_container h2 {
    color: #F3FD00;
    text-align: center;
    margin-bottom: 15px;
}

.movies_lists_container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.movies_lists_container li {
    margin: 15px 0;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.movies_lists_container li:hover {
    background-color: #36BBCE;
}

.work_part {
    flex-grow: 1;
    margin-left: 30px;
}

.buttons_panel {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #015965;
    border-radius: 8px;
    margin-bottom: 20px;
}

.action_button {
    flex: 1;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #36BBCE;
    color: #FFFFFF;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.action_button:first-child {
    margin-left: 0;
}

.action_button:last-child {
    margin-right: 0;
}

.action_button:hover {
    background-color: #5FC0CE;
}

.movie_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
}

.movie {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    border-radius: 10%;
    color: #F3FD00;
    background-color: #1F6B75;
    justify-content: center;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 7%;
}

.movie h4 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.movie article {
    font-size: 14px;
    margin: 3px;
    text-align: center;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .sidebar_section {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .work_part {
        margin-left: 0;
    }

    .buttons_panel {
        margin-bottom: 20px;
    }

    .movie {
        max-width: 100%;
    }
}
